﻿@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Employee</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/dataTable/datatables.css">
    <link rel="stylesheet" href="~/src/css/lightslider.css">
    <link rel="stylesheet" href="~/fontawesome-free-5.15.3-web/fontawesome-free-5.15.3-web/css/all.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/alert.css" />
    
</head>
<body>
   <div class="nav-vertical bg-light  " id="sidebar">
        <div class="mt-0 d-flex align-items-center justify-content-round py-4 px-3 bg-light mb-0">
            <img src="~/image/Jao Liying/L01.jpg"class="rounded-circle img-thumbnail"  width="60px" height="60px" alt="" >
            <div class="ml-4">
                <h4 class="text-mute">@HttpContextAccessor.HttpContext.Session.GetString("username")</h4>
                <div class="text-mute">@HttpContextAccessor.HttpContext.Session.GetString("role")</div>  
            </div>
        </div>
   
        @if(HttpContextAccessor.HttpContext.Session.GetString("role")=="Admin")
        {
                <h2 class="py-4 small text-mute font-weight-bold bg-white px-4">Administator</h2>
        }
        <ul class="nav flex-column">
             @if(HttpContextAccessor.HttpContext.Session.GetString("role")=="Admin")
            {
                <li class="nav-item mb-2">
                    <a asp-controller="Customer" asp-action="dashboad"  class="nav-link text-dark bg-light font-weight-bold">
                        <i class="fa fa-th-large mr-4 text-primary"></i>Dashboad
                    </a>
                </li>
                    
                <li class="nav-item mb-2">
                    <a asp-area="" asp-controller="Employee" asp-action="Employee" class="nav-link text-dark bg-light font-weight-bold"><i class="fa fa-address-card mr-4 text-primary"></i>Employee</a>
                </li>
                <li class="nav-item mb-2">
                    <a asp-area="" asp-controller="ManageProduct" asp-action="ViewManageProduct" class="nav-link text-dark bg-light font-weight-bold"><i class="fa fa-address-card mr-4 text-primary"></i>Manage Product</a>
                </li>
            }
            <h2 class="py-4 small text-mute font-weight-bold bg-white px-4">Customer</h2>
            <li class="nav-item mb-2">
                <a asp-area="" asp-controller="Product" asp-action="HomeProduct" class="nav-link text-dark bg-light font-weight-bold"><i class="fa fa-address-card mr-4 text-primary"></i>Home</a>
            </li>
            <li class="nav-item mb-2 dropdown">
                <a href="#" class="nav-link text-dark bg-light font-weight-bold dropdown-toggle" data-toggle="collapse" data-target="#iscollpae"><i class="fa fa-cubes mr-4 text-primary" ></i>Product </a>
                <div class="navbar-collapse menu-drop collapse" id="iscollpae">
                    <a asp-area="" asp-controller="Product" asp-action="ViewAllProduct" class="dropdown-item item-menu"><i class="fa fa-th-large mr-2 text-primary"></i>All Product</a>
                    <a asp-area="" asp-controller="Product" asp-action="ClothingMan" class="dropdown-item item-menu"><i class="fa fa-th-large mr-2 text-primary"></i>man</a>
                    <a asp-area="" asp-controller="Product" asp-action="ClothingWomen" class="dropdown-item item-menu" ><i class="fa fa-th-large mr-2 text-primary"></i>women</a>
                    <a asp-area="" asp-controller="Product" asp-action="ClothingKids" class="dropdown-item item-menu"><i class="fa fa-th-large mr-2 text-primary"></i>kid</a>
                    <a asp-area="" asp-controller="Product" asp-action="viewShose" class="dropdown-item item-menu"><i class="fa fa-th-large mr-2 text-primary"></i>fashion shoes</a>
                </div>
            </li>
            <li class="nav-item mb-2" >
                <a href="#" class="nav-link text-dark bg-light font-weight-bold"><i class="fab fa-envira mr-4 text-primary"></i>Gallary</a>
            </li>
        </ul>
        <h2 class="py-4 small text-mute font-weight-bold bg-white px-4">Report</h2>
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <a asp-area="" asp-controller="ReportOrder" asp-action="ViewReport" class="nav-link text-dark bg-light font-weight-bold"><i
                        class="fas fa-chart-area mr-4 text-primary"></i>Sell Report</a>
            </li>
            <li class="nav-item mb-2">
                <a href="#" class="nav-link text-dark bg-light font-weight-bold"><i
                        class="far fa-chart-bar mr-4 text-primary"></i>Bar Chart</a>
            </li>
            <li class="nav-item mb-2">
                <a asp-controller="Home" asp-action="Logout" class="nav-link text-dark bg-light font-weight-bold"><i
                        class="fas fa-sign-out-alt mr-4 text-primary"></i>Log Out</a>
            </li>
           
        </ul>
    </div>
    <div class="main pt-3 px-5" id="content">
        <div class="toggle" id="toggle">
            <i class="fa fa-bars font-weight-bold"></i>
        </div>
       @RenderBody();
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/dataTable/datatables.js"></script>
    <script src="~/src/js/lightslider.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
