
@{
    ViewData["Titel"]="Employee";
}

<button class="btn btn-primary btn-sm mb-4 mt-5" data-toggle="modal" data-target="#ismodal" id="btnaddnew">Add New</button>
 <div class="alert d-none my-3 text-center" id="smg"></div>
 <div class="content-employee" id="employee">
     <div class="table-responsive">
            <table class="table nowrap table-hover table-bordered-top" id="id_table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th class="d-none"></th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>DOB</th>
                        <th>Position</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Hire-Date</th>
                        <th>Sallary</th>
                        <th>Action</th>
                    </tr>
                </thead>
       
            </table>
        </div>
            <div class="modal fade" id="ismodal">
                <div class="modal-dialog">
                    <div class="modal-content px-3">
                        <div class="modal-header">
                            <div class="text-light"><div class="display-4">Add new employee</div></div>
                             <button class="btn btn-danger btn-sm" data-dismiss="modal">close</button>
                        </div>
                        <div class="modal-body w-100">
                            
                            <div class="row">
                                <div class="col-xl-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Name</label>
                                        <input type="text" id="txtname" class="form-control mb-3 form-control-sm">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Gender</label>
                                        <select name="" id="txtgender" class="form-control mb-3 form-control-sm">
                                            <option value="Female">Female</option>
                                            <option value="Male">Male</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Date of Bird</label>
                                        <input type="date" id="txtdob" class="form-control mb-3 form-control-sm">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Position</label>
                                        <input type="text" id="txtposition" class="form-control mb-3 form-control-sm">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Phone</label>
                                        <input type="text" id="txtphone" class="form-control mb-3 form-control-sm">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Address</label>
                                        <input type="text" id="txtaddress" class="form-control mb-3 form-control-sm">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Hire-Date</label>
                                        <input type="date" id="txthiredate" class="form-control mb-3 form-control-sm">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Sallary</label>
                                        <input type="text" id="txtsalary" class="form-control mb-3 form-control-sm">
                                    </div>
                                    <div class="">
                                        <div class="img">
                                            <img src="../../Image/Jao Liying/L01.jpg" class="img-thumbnail img-fuild" id="img-post" width="100%" height="100%" alt="">
                                        </div>
                                        <label for="post-img" class="text-center"><i class="fas fa-camera text-center"></i></label>
                                        <input type="file" class="d-none" id="post-img">
                                    </div>
                                    <div class="btn-group ">
                                        <button class="btn btn-primary btn-sm w-25 mr-3" id="btn-emp-save" data-dismiss="modal">Save</button>
                                        <button class="btn btn-primary btn-sm w-25" id="btn-emp-update" data-dismiss="modal">Update</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  

<div class="main-alert">
    <i class="icon" id="icon"></i>
    <div class="alert">
        <span></span>
        <i class="fas fa-times text-success"></i>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var table;
    var list_emp=[]
    $(function(){
    //datatable library
    table = $('.table').DataTable({
        data:list_emp,
        columns:[
            { data: 'image', autoWidth: true, 
                'render':function(data){
                    return '<img src="'+data+'" class="td-img" >';
                }
            },
            {data:'empid',autoWidth:true},
            {data:'name',autoWidth:true},
            {data:'gender',autoWidth:true},
            {data:'dob',autoWidth:true},
            {data:'position',autoWidth:true},
            {data:'phone',autoWidth:true},
            {data:'address',autoWidth:true},
            {data:'hireDate',autoWidth:true},
            { data:'sallary', autoWidth: true,
                'render':function(data){
                    return '$ '+data;
                }
            },
            {data:'empid',autoWidth:true,
                'render':function(data){
                    return '<button class="btn btn-primary btn-sm mr-3" id="btnedit" data-toggle="modal" data-target="#ismodal">Edit</button> <button class="btn btn-danger btn-sm" onclick=deleted('+data+')>Delete</button>';
                }
            } 
        ]
    });
    callDataFromDataBase();
    //call function read image
    $('#post-img').change(function () {
        ReadImage(this);//call function

    })
    var img;
    function ReadImage(input) { //function preview image before upload to server
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                img = e.target.result;
                $('#img-post').attr('src', img);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }


    //pass data to controller

    $('#btn-emp-save').click(function () {
        //declare object
        var obj_emp = {};
        obj_emp.name = $('#txtname').val();
        obj_emp.gender = $('#txtgender').val();
        obj_emp.dob = $('#txtdob').val();
        obj_emp.position = $('#txtposition').val();
        obj_emp.phone = $('#txtphone').val();
        obj_emp.address = $('#txtaddress').val();
        obj_emp.hireDate = $('#txthiredate').val();//hasha i dont know why it dosen't process when i declare is DateTime?????
        obj_emp.sallary = $('#txtsalary').val();
        if (img != null) {
            var imgs = img.split(",");
            obj_emp.imgType = imgs[0];
            obj_emp.image = imgs[1];
        }
        //testing that get values image or not
        //alert(obj_emp.imgType);
        //alert(obj_emp.image);
        //we use ajax to pass data to controller

        $.ajax({
            url: '@Url.Action("postEmployee","Employee")',
            type: 'POST',
            dataType: 'JSON',
            data: { obj_em: obj_emp },
            success: function (data) {
                if(data.errCode==1){
                    $('.main-alert').addClass('show');
                    $('#icon').addClass('fas fa-check-circle bg-success');
                    $('.alert span').text('Congratualations! Data was Save');
                    callDataFromDataBase();
                    setTimeout(function(){
                        $('.main-alert').removeClass('show');
                        $('#icon').removeClass('fas fa-check-circle bg-success');
                        $('.alert span').text('');
                    },5000);
                }
                else {
                    $('.main-alert').addClass('show');
                    $('.icon').addClass('fas fa-exclamation-circle bg-warning');
                    $('.alert span').text('please enter information..! All Fill Not allow');
                    setTimeout(function () {
                        $('.main-alert').removeClass('show');
                        $('.icon').removeClass('fas fa-exclamation-circle bg-warning');
                        $('.alert span').text('');
                     }, 5000);  
                }                    
            }
        })
    })

    //function catch mestake
    
    //create function to alert message

    var id;
    //update
    $('#btn-emp-update').click(function () {
        //declare object
        var obj_emp = {};
        obj_emp.empid = id;
        obj_emp.name = $('#txtname').val();
        obj_emp.gender = $('#txtgender').val();
        obj_emp.dob = $('#txtdob').val();
        obj_emp.position = $('#txtposition').val();
        obj_emp.phone = $('#txtphone').val();
        obj_emp.address = $('#txtaddress').val();
        obj_emp.hireDate = $('#txthiredate').val();//hasha i dont know why it dosen't process when i declare is DateTime?????
        obj_emp.sallary = $('#txtsalary').val();
        if (img != null) {
            var imgs = img.split(",");
            obj_emp.imgType = imgs[0];
            obj_emp.image = imgs[1];
        }
        //testing that get values image or not
        //alert(obj_emp.imgType);
        //alert(obj_emp.image);
        //we use ajax to pass data to controller

        $.ajax({
            url: '@Url.Action("UpdateEmployee","Employee")',
            type: 'POST',
            dataType: 'JSON',
            data: { obj_ems: obj_emp },
            success: function (data) {
                if(data.errCode==1){
                    $('.main-alert').addClass('show');
                    $('#icon').addClass('fas fa-check-circle bg-success');
                    $('.alert span').text('Congratualations! Data was updated');
                    callDataFromDataBase();
                        setTimeout(function(){
                            $('.main-alert').removeClass('show');
                        $('#icon').removeClass('fas fa-check-circle bg-success');
                            $('.alert span').text('');
                        },5000);
                    }
                    else {
                        $('.main-alert').addClass('show');
                        $('.icon').addClass('fas fa-exclamation-circle bg-warning');
                        $('.alert span').text('please enter information..! All Fill Not allow');
                        setTimeout(function () {
                            $('.main-alert').removeClass('show');
                            $('.icon').removeClass('fas fa-exclamation-circle bg-warning');
                            $('.alert span').text('');
                         }, 5000);  
                    }  
            }
        })
    })
    //end update
    if ('@ViewBag.errCode' < 0) alert('@ViewBag.errCode and @ViewBag.errMsg');

    $('#id_table tbody').on('click','tr','#btnedit', function () {
        var rows = $(this).closest('tr');
        img = rows.find('img:eq(0)').attr('src');
        $('#img-post').attr("src", img);
        id = (rows.find('td:eq(1)').text());
        $('#txtname').val(rows.find('td:eq(2)').text());
        $('#txtgender').val(rows.find('td:eq(3)').text());
        $('#txtdob').val(rows.find('td:eq(4)').text());
        $('#txtposition').val(rows.find('td:eq(5)').text());
        $('#txtphone').val(rows.find('td:eq(6)').text());
        $('#txtaddress').val(rows.find('td:eq(7)').text());
        $('#txthiredate').val(rows.find('td:eq(8)').text());
        $('#txtsalary').val(rows.find('td:eq(9)').text());
    })
    
    $('#btnaddnew').click(function () {
        clearText();
    })
    //create function clear
    function clearText() {
        $('.form-control').val('');
        $('#img-post').attr("src", '');
    }

    //delete     
    $('tbody').on('click','#btndelete', function () {
        var colid = $(this).closest('tr');
        var empids = colid.find('td:eq(1)').text();
        var confirm=confirm('Are you sure..?');
        })
});

function callDataFromDataBase(){
    $.ajax({
        url:'@Url.Action("getEmployee","Employee")',
        type:'GET',
        dataType:'JSON',
        success:function(data)
        {
            list_emp=[]
            list_emp=data
            table.clear();
            table.rows.add(list_emp);
            table.draw();
        }
    });
}

function deleted(id){
    //alert(id);
    if(confirm('Are you sure..??'))
    {
    $.ajax({
        url: '@Url.Action("deleteEmpoloyee","Employee")',
        type: 'POST',
        dataType: 'JSON',
        data: { empid: id },
        success: function (data) {
        if(data.errCode==1){
            $('.main-alert').addClass('show');
            $('#icon').addClass('fas fa-check-circle bg-success');
            $('.alert span').text('Congratualations! Data Was Deleted');
            callDataFromDataBase();
            setTimeout(function(){
                $('.main-alert').removeClass('show');
                $('#icon').removeClass('fas fa-check-circle bg-success');
                $('.alert span').text('');
                },5000);
            }
            else {
                $('.main-alert').addClass('show');
                $('.icon').addClass('fas fa-exclamation-circle bg-warning');
                $('.alert span').text('please enter information..! All Fill Not allow');
                setTimeout(function () {
                    $('.main-alert').removeClass('show');
                    $('.icon').removeClass('fas fa-exclamation-circle bg-warning');
                    $('.alert span').text('');
                    }, 5000);  
                }  
            }
        })
    }
}

</script>