*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cover-home{
    background: url('slide.gif');
    width: 100%;
    min-height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    background: #fff;
    width: 100%;
    padding: 0px 60px;
}
.nav-link{
    font-size: 20px;
    font-weight: 500;
}
.form-content{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 500px;
    transform: translate(-50%,-50%);
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1) ,-5px -5px 5px rgba(0, 0, 0, 0.1);

}
.from-body-right{
    width: 40%;
    height: 100%;
    padding: 4px;
}
.form-body-left{
    position: relative;
    width: 60%;
    height: 100%;
}
.from-frm{
    width: 70%;
    flex-direction: column;
    margin: auto;
    position: relative;
    margin-top: 7%;
}
.from-frm .register{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 9px 0;
    font-size: 22px;
    margin-bottom: 20px;
}
.from-frm input{
    width: 100%;
    margin-bottom: 20px;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

}
.modal-header h3 span{
    color: green;
    font-size: 30px;
}

