@model Employee.Models.ListProduct;
@{
    ViewData["order"]="View Order";
}

<!-----------------------------order page page ------------------------------------------------>
    <section class="section-order mt-5 shadow-sm bg-white p-3 mb-4">
        <div class="d-none" id="proid">@ViewBag.proId</div>
        <h3 class="border-bottom py-3">Order Now</h3>
        <div class="row mt-2">
            <div class="col-md-3">
                <div class="box-img mt-2">
                    <img src="@ViewBag.imgType,@ViewBag.image" width="100%" height="100%" alt="">
                </div>
            </div>
            <div class="col-md-5 m-0 p-0">
                <div class="detail m-0 p-3">
                    <div class="title">@ViewBag.proName</div>
                    <i class="fas fa-star yellow"></i>
                    <i class="fas fa-star yellow"></i>
                    <i class="fas fa-star yellow"></i>
                    <i class="fas fa-star yellow"></i>
                    <i class="far fa-star"></i>
                    <div class="price" >$@ViewBag.uniprice</div>
                    <input type="hidden" id="txtprice" value="@ViewBag.uniprice">
                </div>
                <p class="p-3">
                    @ViewBag.description
                </p>
            </div>
            <div class="col-md-4  m-0 p-0 bg-white">
                <div class="form-order p-3 ">
                    <div class="form-group">
                        <label for="">Full Name</label>
                        <input type="text" id="txtfullname" class="form-control form-control-sm mb-3">
                    </div>
                    <div class="form-group">
                        <label for="">Phone Number</label>
                        <input type="text" id="txtphone" class="form-control form-control-sm mb-3">
                    </div>
                    <div class="form-group">
                        <label for="">Qualtity</label>
                        <input type="number" id="txtqty" class="form-control form-control-sm mb-3">
                    </div>
                    <div class="form-group">
                        <label for="">address</label>
                        <input type="text" id="txtaddress" class="form-control form-control-sm mb-3">
                    </div>
                    <btutton class="btn btn-primary btn-block" id="btnsave-order" >Okey</btutton>
                </div>
            </div>
            
               
        </div>
        
    </section>
<!-------------------------Similar Product------------------------------>
<section class="section-more bg-white py-4">
    <h3 class="pl-3 border-bottom pb-2 text-success font-weight-bold">Similar Product</h3>
    <ul id="autoWidth" class="cS-hidden mt-3">
        <!-------------------------Item new------------------------------>
        @foreach (var item in Model.ls_product)
        {
        <li class="item">
            <div class="p-2">
                <div class="card-text">
                    <div class="box-img">
                        <img src="@item.imgType,@item.image" class="w-100" height="100%" alt="">
                    </div>
                    <div class="detail">
                        <div class="title">@item.proName</div>
                        <i class="fas fa-star yellow"></i>
                        <i class="fas fa-star yellow"></i>
                        <i class="fas fa-star yellow"></i>
                        <i class="fas fa-star yellow"></i>
                        <i class="far fa-star"></i>
                        <div class="price">$@item.uniprice</div>
                    </div>
                </div>
                <div class="custom-btn">
                    <a asp-area="" asp-route-proid="@item.proId" asp-controller="Order" asp-action="ViewOrder"  class="btn btn-primary btn-block">View Detail</a>
                </div>
            </div>
        </li>
        }
        <!-------------------------Item new------------------------------>
    </ul>
</section>

<!-------------------------More Product------------------------------>
<section class="bg-white mt-5">
    <h3 class="p-3 border">More Product</h3>
 
    <div class="row mt-3">
        @foreach (var item in Model.ls_product_pop)
        {
            <div class="col-xl-3 col-md-6 mb-4">
            <div class="card p-2">
                <div class="card-text">
                    <div class="box-img">
                        <img src="@item.imgType,@item.image" class="w-100" height="100%" alt="">
                    </div>
                    <div class="detail">
                        <div class="title">@item.proName</div>
                        <i class="fas fa-star yellow"></i>
                        <i class="fas fa-star yellow"></i>
                        <i class="fas fa-star yellow"></i>
                        <i class="fas fa-star yellow"></i>
                        <i class="far fa-star"></i>
                        <div class="price">$@item.uniprice</div>
                    </div>
                </div>
                <div class="custom-btn">
                        <a asp-area="" asp-route-proid="@item.proId" asp-controller="Order" asp-action="ViewOrder"
                        class="btn btn-primary btn-block">View Detail</a>
                </div>
            </div>
        </div>
        }
    </div>
</section>
<div class="main-alert">
    <i class="icon" id="icon"></i>
    <div class="alert">
        <span></span>
        <i class="fas fa-times text-success"></i>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    $(function(){
        //close alert
        
        ///save order to database======================================.../////87
        $('#btnsave-order').click(function(){
            var obj_order={};
            obj_order.uniprice=$('#txtprice').val();
            obj_order.proId=$('#proid').text();
            obj_order.fullname=$('#txtfullname').val();
            obj_order.address=$('#txtaddress').val();
            obj_order.phone=$('#txtphone').val();
            obj_order.qty = $('#txtqty').val();
            
            ///using ajax to pass data to controller====================
            $.ajax({
                url:'@Url.Action("PostOrder","Order")',
                type:'POST',
                dataType:'JSON',
                data:{ order : obj_order},
                success:function(data)
                {
                    if(data.errCode==1){
                        $('.main-alert').addClass('show');
                        $('#icon').addClass('fas fa-check-circle bg-success');
                         $('.alert span').text('Congratualations! Thank you');
                        setTimeout(function(){
                            $('.main-alert').removeClass('show');
                            $('#icon').removeClass('fas fa-check-circle bg-success');
                            $('.alert span').text('');
                        },5000);
                    }
                    else {
                        $('.main-alert').addClass('show');
                        $('.icon').addClass('fas fa-exclamation-circle bg-warning');
                        $('.alert span').text('please enter information..!');
                        setTimeout(function () {
                            $('.main-alert').removeClass('show');
                            $('.icon').removeClass('fas fa-exclamation-circle bg-warning');
                            $('.alert span').text('');
                        }, 5000);
                    }
                }
                
            })
        })
        ///save order to database exit======================================.../////87
        if('@ViewBag.errCode'<0)
        {
            alert('@ViewBag.errMsg');
        }
    })
</script>