@model List<Employee.Models.Product.ManageProduct>;
@{
    ViewData["Clothing Kids"]="View clothing Kids";
}
<section class="section-new mt-5 bg-white">
    <h3 class="p-3">All Clothing for Kids</h3>
    <div class="row mt-3 p-3">
        @foreach (var item in Model)
        {
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card p-2">
                    <div class="card-text">
                        <div class="box-img">
                            <img src="@item.imgType,@item.image" class="w-100" height="100%" alt="">
                        </div>
                        <div class="detail">
                            <div class="title">@item.proName</div>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="far fa-star"></i>
                            <div class="price">$@item.uniprice</div>
                        </div>
                    </div>
                    <div class="custom-btn">
                        <a asp-area="" asp-route-proid="@item.proId" asp-controller="Order" asp-action="ViewOrder" class="btn btn-primary btn-block">Order Now</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>