 @model Employee.Models.ListProduct;
 @{
     ViewData["HomeProduct"]="View Home Product";
 }
 <div class="section-clothing mb-4 mt-0 pt-0 ">  
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active img-beaner">
                <img src="~/img/s.jpg" class="d-block w-100" height="100%" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/img/slide-1.jpg" class="d-block w-100" height="100%" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/img/slide-2.jpg" class="d-block w-100" height="100%" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
 </div>

 <!-------------------------section Category----------------------->

 <div class="catgetories mb-4"> 
    <h3 class="p-3">Category</h3>
    <div class="row mt-3">
        @foreach (var item in Model.ls_category)
        {
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card p-2">
                    <div class="card-text">
                        <div class="box-img">
                            <img src="@item.imgType,@item.image" class="w-100" height="100%" alt="">
                        </div>
                        <div class="detail">
                            <div class="title">@item.catename</div>
                                <i class="fas fa-star yellow"></i>
                                <i class="fas fa-star yellow"></i>
                                <i class="fas fa-star yellow"></i>
                                <i class="fas fa-star yellow"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                        <div class="custom-btn">
                                <a asp-route-id="@item.cateId" asp-area="" asp-controller="Product" asp-action="ViewProductByCategroy" class="btn btn-primary btn-block">View More</a>
                        </div>
                </div>
            </div>
        }
    </div>
 </div>

<!-------------------------section New Product----------------------->

<section class="section-new mb-4 bg-white">
    <h3 class="p-3">New Product</h3>
    <div class="row mt-3">
        @foreach (var item in Model.ls_product)
        {
            <div class="col-xl-3 col-md-6 mb-4">
             <div class="card p-2">
                <div class="card-text">
                    <div class="box-img">
                        <img src="@item.imgType,@item.image" class="w-100" height="100%" alt="">
                    </div>
                    <div class="detail">
                        <div class="title">@item.proName</div>
                        <i class="fas fa-star yellow"></i>
                        <i class="fas fa-star yellow"></i>
                        <i class="fas fa-star yellow"></i>
                        <i class="fas fa-star yellow"></i>
                        <i class="far fa-star"></i>
                        <div class="price">$@item.uniprice</div>
                    </div>
                 </div>
                <div class="custom-btn">
                    <a asp-area="" asp-route-proid="@item.proId" asp-controller="Order" asp-action="ViewOrder" class="btn btn-primary btn-block">View Detail</a>
                </div>
            </div>
            </div>
        }
        
    </div>
</section>

<!-------------------------section popular product----------------------->

<section class="poppular-product bg-white mb-4">
    <h3 class="p-3">Poppular Product</h3>
    <div class="row mt-3">
        @foreach (var item in Model.ls_product_pop)
        {
        <div class="col-xl-3 col-md-6 mb-4">
             <div class="card p-2">
                <div class="card-text">
                    <div class="box-img">
                        <img src="@item.imgType,@item.image" class="w-100" height="100%" alt="">
                    </div>
                    <div class="detail">
                        <div class="title">@item.proName</div>
                        <i class="fas fa-star yellow"></i>
                        <i class="fas fa-star yellow"></i>
                        <i class="fas fa-star yellow"></i>
                        <i class="fas fa-star yellow"></i>
                        <i class="far fa-star"></i>
                        <div class="price">$@item.uniprice</div>
                    </div>
                 </div>
                <div class="custom-btn">
                    <a asp-area="" asp-route-proid="@item.proId" asp-controller="Order" asp-action="ViewOrder" class="btn btn-primary btn-block">View Detail</a>
                </div>
            </div>
        </div>
        }
        
    </div>

</section>