@model List<Employee.Models.Product.ManageProduct>;
@{
    ViewData["All Product"]="View All Product With Category";
}

<div class="product-all mt-5 pt-3">

    <div class="alert alert-success"><h2>@ViewBag.id</h2> </div>

    <table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                 <td>
                    <div class="pro-item">
                        <div class="pro-img">
                            <img src="@item.imgType,@item.image" alt="">
                        </div>
                        <div class="pro-text">
                             <h3>@item.proName</h3>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                            <i class="fas fa-star yellow"></i>
                             <i class="fas fa-star yellow"></i>
                            <i class="far fa-star"></i>
                            <p>
                                @item.description
                            </p>
                            </div>
                                <div class="pro-detail">
                                    <h3>$@item.uniprice</h3>
                                    <span>Free Shipping</span>
                                    <a asp-area="" asp-route-proid="@item.proId" asp-controller="Order" asp-action="ViewOrder" class="btn btn-primary my-4 btn-block">Order Now</a>
                                    <a href="#" class="heart-wishlist "><i class="fas fa-heart mr-3"></i> Add to wishlist</a>
                                </div>
                            </div>
                        </td>
                    </tr>
            }
            
        </tbody>
    </table>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function(){
        //datatable
        $('.table').DataTable();
    })
</script>