﻿@{
    ViewData["Home"]="View Home Page";
    Layout=null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/fontawesome-free-5.15.3-web/fontawesome-free-5.15.3-web/css/all.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/src/src/style.css">
    <link rel="stylesheet" href="~/css/alert.css" />
    
</head>
<body>
    <div class="container-fluid px-0 cover-home sticky-top">
        <nav class="navbar navbar-expand-md ">
            <a href="#" class="navbar-brand">
                <img src="~/src/src/logo.jfif" width="100px" alt="">
            </a>
            <ul class="navbar-nav bg-white ml-auto nav">
                <li class="nav-item bg-white">
                    <a asp-area="" asp-controller="Home" asp-action="Register" class="nav-link">Register</a>
                </li>
                <li class="nav-item bg-white ml-3">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#modal-login">Login</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="modal fade" id="modal-login">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Log<span>In</span></h3>
                    <a href="" class="btn btn-sm btn-danger" data-dismiss="modal">close</a>
                </div>
                <div class="modal-body">
                    <form action="">
                        <input type="text" id="txtuserid" class="form-control mb-3" placeholder="username" value="Admin">
                        <input type="password" id="txtpass" class="form-control mb-3" placeholder="password" value="Admin">
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-sm w-25" id="btnLoing">Login</button>
                </div>
            </div>
        </div>
    </div>
    <!--sectoin alert-->
    <div class="main-alert">
        <i class="icon" id="icon"></i>
        <div class="alert">
            <span></span>
            <i class="fas fa-times text-danger"></i>
        </div>
    </div>
</body>
</html>
<!-----------------------javascipt----------------------->
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function(){
        $('#btnLoing').click(function(){
            var user={};
            user.username=$('#txtuserid').val();
            user.password=$('#txtpass').val();
            $.ajax({
                url:'@Url.Action("PostLogin","Home")',
                type:'Post',
                dataType:'Json',
                data:{get_user : user },
                success:function(data){
                    if(data==true)
                    {
                        $('.main-alert').addClass('show');
                        $('#icon').addClass('fas fa-check-circle bg-success');
                        $('.alert span').text('Congratualations! Wellcome');
                        
                        setTimeout(function(){
                            $('.main-alert').removeClass('show');
                            $('#icon').removeClass('fas fa-check-circle bg-success');
                            $('.alert span').text('');
                            window.location.replace('@Url.Action("HomeProduct","Product")');
                        },2000);
                        
                    }
                    else {
                        //alert('Not login');
                        $('.main-alert').addClass('show');
                        $('.icon').addClass('fas fa-exclamation-circle bg-warning');
                        $('.alert span').text('password or usrname wrong!');
                        setTimeout(function () {
                            $('.main-alert').removeClass('show');
                            $('.icon').removeClass('fas fa-exclamation-circle bg-warning');
                            $('.alert span').text('');
                        }, 5000);
                    }
                }
            })
        })
    })
</script>