﻿@{
    ViewData["Title"] = "Privacy Policy";
}

        <div class="display-4 text-primary mt-6">bootstrap</div>
        <p class="text-danger pt-3">Build a fixed sidebar using bootstrap 4 Vertical navigation and media objects.</p>
        <div class="border-dashed"></div>
        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-12">
                <p class="text-dark">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid itaque quas facilis, molestiae quo distinctio dignissimos, iusto officiis atque harum eveniet dolores explicabo. Animi est distinctio ducimus sint in earum!
                    Illo suscipit quia expedita corporis magni? Deserunt, soluta a quod dicta, magni voluptas molestiae doloremque, possimus reiciendis nulla fugiat tempore ullam veniam aperiam amet minus natus? Quisquam nihil natus dolores?
                    Ut, voluptates ducimus non accusamus, odio esse fugit magni obcaecati harum asperiores nemo doloremque cumque fugiat aspernatur. Atque corporis dolorem dignissimos amet minima placeat, saepe magnam reprehenderit nobis. Iusto, cum.
                    Fuga autem tempore earum quasi ratione distinctio asperiores error reprehenderit voluptatem aliquid debitis, itaque ipsa! Soluta iusto vitae in saepe fugiat quam molestiae, expedita ex? Deserunt illo enim sit unde!
                </p>
                <p class="text-dark">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid itaque quas facilis, molestiae quo distinctio
                    dignissimos, iusto officiis atque harum eveniet dolores explicabo. Animi est distinctio ducimus sint in earum!
                    Illo suscipit quia expedita corporis magni? Deserunt, soluta a quod dicta, magni voluptas molestiae doloremque,
                    possimus reiciendis nulla fugiat tempore ullam veniam aperiam amet minus natus? Quisquam nihil natus dolores?
                    Ut, voluptates ducimus non accusamus, odio esse fugit magni obcaecati harum asperiores nemo doloremque cumque fugiat
                    aspernatur. Atque corporis dolorem dignissimos amet minima placeat, saepe magnam reprehenderit nobis. Iusto, cum.
                    Fuga autem tempore earum quasi ratione distinctio asperiores error reprehenderit voluptatem aliquid debitis, itaque
                    ipsa! Soluta iusto vitae in saepe fugiat quam molestiae, expedita ex? Deserunt illo enim sit unde!
                </p>
                <p class="text-dark">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid itaque quas facilis, molestiae quo distinctio
                    dignissimos, iusto officiis atque harum eveniet dolores explicabo. Animi est distinctio ducimus sint in earum!
                    Illo suscipit quia expedita corporis magni? Deserunt, soluta a quod dicta, magni voluptas molestiae doloremque,
                    possimus reiciendis nulla fugiat tempore ullam veniam aperiam amet minus natus? Quisquam nihil natus dolores?
                    Ut, voluptates ducimus non accusamus, odio esse fugit magni obcaecati harum asperiores nemo doloremque cumque fugiat
                    aspernatur. Atque corporis dolorem dignissimos amet minima placeat, saepe magnam reprehenderit nobis. Iusto, cum.
                    Fuga autem tempore earum quasi ratione distinctio asperiores error reprehenderit voluptatem aliquid debitis, itaque
                    ipsa! Soluta iusto vitae in saepe fugiat quam molestiae, expedita ex? Deserunt illo enim sit unde!
                </p>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12">
                <p class="text-dark">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid itaque quas facilis, molestiae quo distinctio
                    dignissimos, iusto officiis atque harum eveniet dolores explicabo. Animi est distinctio ducimus sint in earum!
                    Illo suscipit quia expedita corporis magni? Deserunt, soluta a quod dicta, magni voluptas molestiae doloremque,
                    possimus reiciendis nulla fugiat tempore ullam veniam aperiam amet minus natus? Quisquam nihil natus dolores?
                    Ut, voluptates ducimus non accusamus, odio esse fugit magni obcaecati harum asperiores nemo doloremque cumque
                    fugiat aspernatur. Atque corporis dolorem dignissimos amet minima placeat, saepe magnam reprehenderit nobis.
                    Iusto, cum.
                    Fuga autem tempore earum quasi ratione distinctio asperiores error reprehenderit voluptatem aliquid debitis,
                    itaque ipsa! Soluta iusto vitae in saepe fugiat quam molestiae, expedita ex? Deserunt illo enim sit unde!
                </p>
                <p class="text-dark">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid itaque quas facilis, molestiae quo distinctio
                    dignissimos, iusto officiis atque harum eveniet dolores explicabo. Animi est distinctio ducimus sint in earum!
                    Illo suscipit quia expedita corporis magni? Deserunt, soluta a quod dicta, magni voluptas molestiae doloremque,
                    possimus reiciendis nulla fugiat tempore ullam veniam aperiam amet minus natus? Quisquam nihil natus dolores?
                    Ut, voluptates ducimus non accusamus, odio esse fugit magni obcaecati harum asperiores nemo doloremque cumque
                    fugiat
                    aspernatur. Atque corporis dolorem dignissimos amet minima placeat, saepe magnam reprehenderit nobis. Iusto,
                    cum.
                    Fuga autem tempore earum quasi ratione distinctio asperiores error reprehenderit voluptatem aliquid debitis,
                    itaque
                    ipsa! Soluta iusto vitae in saepe fugiat quam molestiae, expedita ex? Deserunt illo enim sit unde!
                </p>
                <p class="text-dark">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid itaque quas facilis, molestiae quo distinctio
                    dignissimos, iusto officiis atque harum eveniet dolores explicabo. Animi est distinctio ducimus sint in earum!
                    Illo suscipit quia expedita corporis magni? Deserunt, soluta a quod dicta, magni voluptas molestiae doloremque,
                    possimus reiciendis nulla fugiat tempore ullam veniam aperiam amet minus natus? Quisquam nihil natus dolores?
                    Ut, voluptates ducimus non accusamus, odio esse fugit magni obcaecati harum asperiores nemo doloremque cumque
                    fugiat
                    aspernatur. Atque corporis dolorem dignissimos amet minima placeat, saepe magnam reprehenderit nobis. Iusto,
                    cum.
                    Fuga autem tempore earum quasi ratione distinctio asperiores error reprehenderit voluptatem aliquid debitis,
                    itaque
                    ipsa! Soluta iusto vitae in saepe fugiat quam molestiae, expedita ex? Deserunt illo enim sit unde!
                </p>
            </div>
        </div>   


