@{
    Layout=null;
    ViewData["Title"]="View page Register";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/fontawesome-free-5.15.3-web/fontawesome-free-5.15.3-web/css/all.css">
    <link rel="stylesheet" href="~/src/src/style.css">
    <link rel="stylesheet" href="~/css/alert.css" /> 
   
</head>

<body>
    <div class="form-content">
        <div class="from-body-right">
            <img src="~/src/src/slide.gif" width="100%" height="100%" alt="">
        </div>
        <div class="form-body-left">

            <div class="from-frm">
                <h3 class="register">Register here</h3>
                <input class="form-control" id="txtuser" type="text" placeholder="uername">
                <input class="form-control" id="txtemail" type="text" placeholder="email">
                <input class="form-control" id="txtpass" type="password" placeholder="password">
                <input class="form-control" id="txtcompass" type="password" placeholder="confrim-password">
                <div class="btn-group">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-danger mr-3">Back</a>
                    <button class="btn btn-success mr-3" id="btnRegister">Register</button>
                </div>
            </div>
        </div>
    </div>

<div class="main-alert">
    <i class="icon" id="icon"></i>
    <div class="alert">
        <span></span>
        <i class="fas fa-times text-danger"></i>
    </div>
</div>
</body>

</html>
<!-----------------------javascipt----------------------->
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function(){
        $('#btnRegister').click(function(){
            var obj_user={};
            obj_user.username=$('#txtuser').val();
            obj_user.email=$('#txtemail').val();
            obj_user.password=$('#txtpass').val();
            var comfirm=$('#txtcompass').val();
            if(obj_user.password==comfirm)
            {
                //True
                 $.ajax({
                    url:'@Url.Action("PostRegister","Home")',
                    type:'POST',
                    dataType:'Json',
                    data:{ user : obj_user},
                    success:function(data){
                         if(data.errCode==1){
                            $('.main-alert').addClass('show');
                            $('#icon').addClass('fas fa-check-circle bg-success');
                            $('.alert span').text('Congratualations! Thank you');
                            setTimeout(function(){
                                $('.main-alert').removeClass('show');
                                $('#icon').removeClass('fas fa-check-circle bg-success');
                                $('.alert span').text('');
                                window.location.replace("Index","Home");
                            },2000);
                        }
                        else {
                            $('.main-alert').addClass('show');
                            $('.icon').addClass('fas fa-exclamation-circle bg-warning');
                            $('.alert span').text('Sorry, please enter information..!');
                            setTimeout(function () {
                                $('.main-alert').removeClass('show');
                                $('.icon').removeClass('fas fa-exclamation-circle bg-warning');
                                $('.alert span').text('');
                            }, 5000);
                        }
                    }
                });
            }
            else
            {
                //false
                $('.main-alert').addClass('show');
                $('.icon').addClass('far fa-times-circle bg-danger');
                $('.alert span').text('sorry your password not match!');
                setTimeout(function () {
                    $('.main-alert').removeClass('show');
                    $('.icon').removeClass('far fa-times-circle bg-danger');
                    $('.alert span').text('');
                }, 5000);
            }
        })
    })
</script>