 .main-alert {
            width: 440px;
            background-color: #fff;
            border: 0.5px solid green;
            position: relative;
            margin: 20px 0;
            position: fixed;
            right: 0px;
            opacity: 0;
            transition: 0.5s;
            top: 0;
            z-index: 9999;
        }
        .main-alert.show{
            right: 5px;
            opacity: 1;
            top: 0;
        }
        .icon {
            font-size: 30px;
            padding: 8px 20px;
            float: left;
            color: #fff;
        }

        .alert {
            margin: 0;
            padding: 10px 80px;
        }

        .fa-times {
            position: absolute;
            top: 15px;
            right: 9px;
            cursor: pointer;
        }