﻿body{
    min-height: 100vh;
    background:#eceff1;
}
.box-img{
    width: 220px;
    height: 230px;
}
.nav-vertical{
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    transition: all .9s;
    overflow-y: scroll;
}
.text-middle{
    line-height: 60px;
}
.nav-link:hover{
     background: white;
}
#sidebar.active{
    left: -250px;
}
.menu-drop{
    position: relative;
    display: block;
    margin-left: 60px;
}
.item-menu{
    font-weight: 500;
    font-size: 18px;
}
.item-menu:hover{
    background: rgb(209, 207, 207);
}
.main{
    width: calc(100% - 250px);
    margin-left: 250px;
    transition: all 0.9s;
}
#content.active{
    width: 100%;
    margin-left: 0;
}
.toggle {
    font-size: 20px;
    position: fixed;
    width: 50px;
    background: #fff;
    text-align: center;
    border-radius: 3px;
    z-index: 333;
}
.toggle i{
    text-align: center;
    color: black;
}
.border-dashed{
    border: 1px dashed #000;
    margin: 50px 0;
}
.mt-6{
    margin-top: 5rem!important;
}
.modal-dialog{
    max-width: 700px;
    
}
.modal-content{
    background: rgba(0, 0, 0, 0.5);
}
.modal-dialog .img{
    width: 80px;
    height: 80px;
    overflow: hidden;
    object-fit: cover;
}
.modal-dialog .img img{
    width: 100%;
    height: 100%;
}
.modal-content label,
.modal-content a{
    color: #fff;
}
.modal-content a:hover{
    color: red;
}
.close{
    cursor: pointer;
}
.td-img{
    width: 50px;
    height: 50px;
    object-fit:fill;
    border-radius: 50%;
    border: 2px solid rgb(102, 100, 100);
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;;
}

.pro-item{
    width: 100%;
    position: relative;
    display: flex;
    padding: 20px;
    background: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.07);
}
.pro-img{
    position: relative;
    width: 20%;
    height: 245px;
    margin-right: 10px;
}
.pro-img img{
    width: 100%;
    height: 100%;
}
.pro-item .pro-text{
    width: 55%;
    padding: 0 20px;
}
.pro-text h3{
    font-size: 25px;
    font-weight: 700;
}
.pro-text .yellow{
    color: darkgoldenrod;
    padding: 20px 5px;
}
.pro-text p{
    font-size: 16px;
    letter-spacing: 0.3px;
    color: gray;
}
.pro-detail{
    position: relative;
    width: 25%;
}
.pro-detail h3{
    color: black;
    font-size: 25px;
    font-weight: 700;
}
.pro-detail span {
    color: green;
    font-weight: 700;
    font-size: 18px;
}
.pro-detail .heart-wishlist{
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.07);
    padding: 8px 10px;
    margin-top: 30px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catgetories{
    position: relative;
    width: 100%;
    position: relative;
    padding: 30px 0;
    background: #fff;
    margin-top: 20px;
}
.catgetories h3{
    font-weight: 700;
    font-size: 25px;
    color: black;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.detail .title{
    font-size: 17px;
    font-weight: 700;
    color: blueviolet;
    text-transform: uppercase;
    padding: 5px 0;
}
.detail .yellow{
    color: yellowgreen;
}
.detail .price{
    color: red;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 0;
}

/*product pge*/
.pro-img{
    width: 150px;
    height: 160px;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    border: 4px solid gray;
}
.pro-img img,
.img-pro img,
.img-cate img{
    width: 100%;
    height: 100%;
}
.icon-camera{
    position: relative;
    width: 150px;
    text-align: center;
    padding: 3px;
    font-size: 18px;
    background: blueviolet;
    margin-top: 7px;
    color: #fff;
    border-radius: 3px;
}
.icon-camera:hover{
    background:rgb(95, 3, 182);
}
.icon-camera input{
    display:none;
}
.img-pro{
    width: 100px;
    height: 120px;
    overflow: hidden;
    object-fit: cover;
}
.text-style{
    font-size: 16px;
    color: green;
    font-weight: 500;
    font-family: sans-serif;
}
.text-style span{
    color: red;
    font-size: 22px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.img-cate{
    width: 40px;
    height: 45px;
    overflow: hidden;
    object-fit: cover;
}
.table-scroll{
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}
/*=============section dashboad================//*/
.card-custom{
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.card-custom i{
    font-size: 30px;
    color:#03a9f4;
}
.card-custom h3{
    font-size: 25px;
    font-weight: 500;
    font-family: cursive;
}
.card-custom h4{
    color: gray;
    font-size: 18px;
    font-weight: 400;
}
/*----section report--->*/
.section-report .title{
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgb(221, 216, 216);
}
.frm-class{
    width: 50%;
    margin: auto;
    height: 100%;
}
.total{
    width: 95%;
    border-top: 1px solid rgb(240, 237, 237);
}
.total h3{
    text-align: end;
    font-size: 18px;
    padding-right: 0px;
}
@media (max-width:768px)
{
    .nav-vertical{
        left: -250px;
    }
    .main{
        width: 100%;
        margin-left: 0;
    }
    #sidebar.active{
       left: 0px;
    }
    #content.active{
        width: calc(100% - 250px);
        margin-left: 250px;
    }
    .display-4 {
        font-size: 2.5rem;
    }
}
@media (max-width:480px)
{
    .nav-vertical{
        left: 0;
        width: 100%;
        z-index: 3432;
    }
    .main{
        width: 100%;
    }
    .toggle {
        position: fixed;
        z-index: 33563;
        right: 5px;
    }
     #sidebar.active{
       left: -250px;
       width: 0;
    }
    #content.active{
        width: 100%;
        margin-left: 0;
    }
    .pl-5, .px-5 {
        padding: 15px !important;
        text-align: justify;
        
    }
    .display-4 {
        font-size: 1.7rem;
    }
}