@model List<Employee.Models.ClsOrder>
@{
    ViewData["Customer"] = "View Customer Page";
}
<!--+++++++++++++++++++++++++SScript javascript library+++++++++++++++++++++++++++++++++++++==-->
<script src="~/lib/jquery/dist/jquery.js"></script>
<!--+++++++++++++++++++++++++SScript javascript library Exit+++++++++++++++++++++++++++++++++++++==-->

<div class="section-dashboard mt-5">
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card-custom">
                <div class="box">
                    <h3>@ViewBag.delivered</h3>
                    <h4>Ordered View</h4>
                </div>
                <div class="box-icon">
                    <i class="fa fa-eye"></i>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card-custom">
                <div class="box">
                    <h3>@ViewBag.ordered</h3>
                    <h4>Sold View</h4>
                </div>
                <div class="box-icon">
                    <i class="fa fa-shopping-cart"></i>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card-custom">
                <div class="box">
                    <h3>523</h3>
                    <h4>Comment</h4>
                </div>
                <div class="box-icon">
                    <i class="fa fa-comment""></i>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card-custom">
                <div class="box">
                    <h3>$@ViewBag.price</h3>
                    <h4>Earnning</h4>
                </div>
                <div class="box-icon">
                    <i class="fas fa-dollar-sign"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-table-order bt-4 bg-white  p-3">
    <div class="table-responsive">
        <h3 class="py-3">Recent Orders</h3>
        <table class="table hide-count nowrap table-hover table-bordered-top" id="order-id">
            <thead>
                <tr>
                    <th class="d-none">proname</th>
                    <th class="d-none">image</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Adddress</th>
                    <th>Phone</th>
                    <th>Price</th>
                    <th>Qualtity</th>
                    <th>Date Order</th>
                    <th>Deliver</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="d-none">
                            <img src="@item.image" width="50px" alt="">
                        </td>
                        <td class="d-none">@item.proName</td>
                        <td>@item.orderId</td>
                        <td>@item.fullname</td>
                        <td>@item.address</td>
                        <td>@item.phone</td>
                        <td>$@item.uniprice</td>
                        <td>@item.qty</td>
                        <td>@item.orderDate</td>
                        @if(item.deliver=="No")
                        {
                           <td><button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#detail-id" >Accept</button></td>
                        }
                        else
                        {
                            <td class="text-success font-weight-bold">Delivered</td>
                        }    
                    </tr>
                }
               
            </tbody>
        </table>
    </div>
</div>
<!---==============popup dialog===============_------------>

<div class="modal fade" id="detail-id">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-white" id="pro-name-id"></h3>
                <button class="btn btn-sm btn-danger" data-dismiss="modal">close</button>
            </div>
            <div class="modal-body d-flex">
                <img src="" alt="" id="img-post" class="img-thumbnail img-fluid">
                <div class="px-3">
                    <p class=" text-white">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa vero consequatur id expedita voluptas obcaecati
                        adipisci, itaque maiores at, ex magni.
                    </p>
                    <p class="text-white">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa vero consequatur id expedita voluptas obcaecati
                    </p>
                    <br class="mb-2">
                    <div class="bg-white mt-5">
                        <h3 class="text-danger" id="price"></h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-success" data-dismiss="modal" id="btnAccept">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="main-alert">
    <i class="icon" id="icon"></i>
    <div class="alert">
        <span></span>
        <i class="fas fa-times text-success"></i>
    </div>
</div>
<!--+++++++++++++++++++++++++SScript javascript library+++++++++++++++++++++++++++++++++++++==-->


<script type="text/javascript">
    $(function(){

        $('#order-id').DataTable();
        //=============get values================
        var order_id;
        $('.table .btn').on('click',function(){
            var colm = $(this).closest('tr');
            var img = colm.find('td img:eq(0)').attr('src');
            $('#img-post').attr("src", img);
            colm.find('td:eq(1)').text()
            order_id=colm.find('td:eq(2)').text();
            $('#pro-name-id').text(colm.find('td:eq(1)').text());
            $('#price').text(colm.find('td:eq(6)').text());
        })

         //upadage delivery=====================...////
        $('#btnAccept').click(function(){
            //alert(order_id);
            $.ajax({
                url:'@Url.Action("UpdateDelivered","Customer")',
                type:'POST',
                dataType:'JSON',
                data:{get_id_order : order_id},
                success:function(data){
                   if(data.errCode==1){
                        $('.main-alert').addClass('show');
                        $('#icon').addClass('fas fa-check-circle bg-success');
                         $('.alert span').text('Congratualations! Thank you');
                        setTimeout(function(){
                            $('.main-alert').removeClass('show');
                            $('#icon').removeClass('fas fa-check-circle bg-success');
                            $('.alert span').text('');
                        },5000);
                    }
                    else {
                        $('.main-alert').addClass('show');
                        $('.icon').addClass('fas fa-exclamation-circle bg-warning');
                        $('.alert span').text('please enter information..!');
                        setTimeout(function () {
                            $('.main-alert').removeClass('show');
                            $('.icon').removeClass('fas fa-exclamation-circle bg-warning');
                            $('.alert span').text('');
                        }, 5000);
                    }
                }
            })
        })



    });

</script>