@model Employee.Models.ListProduct;
@{
    ViewData["Manage Product"]="View Manage Product";
}

 <section class="section-product bg-white mt-5 p-3" id="section-product">
            <div class="row">
                <div class="col-xl-6 col-md-6">
                    <div class="form">
                        <div class="form-group">
                            <label for="">Product Name</label>
                            <input id="txtproname" type="text" class="form-control form-control-sm mb-3">
                        </div>
                        <div class="form-group">
                            <label for="">Desciption</label>
                            <textarea id="txtdescription" cols="30" rows="6"
                                class="form-control form-control-sm mb-3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="">Qualtity</label>
                            <input id="txtqty" type="number" class="form-control form-control-sm mb-3">
                        </div>
                        <div class="form-group">
                            <label for="">Uniprice</label>
                            <input id="txtuniprice" type="number" class="form-control form-control-sm mb-3">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="form-group">
                        <label for="">Category</label>
                        <div class="form-inline">
                            <select name="" id="txtcateid" class="form-control form-control-sm mb-3 w-75">
                                <option value="0">select category...</option>
                            </select>
                            <input type="button" value="Add New" class="btn btn-primary btn-sm mb-3 w-25"
                                data-toggle="modal" data-target="#cateid">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Menu</label>
                        <div class="form-inline">
                            <select name="" id="txtMenu" class="form-control form-control-sm mb-3 w-75">
                                <option value="0">select Menu...</option>
                                <option value="1">Men</option>
                                <option value="2">Women</option>
                                <option value="3">Kids</option>
                                <option value="4">Shoes</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="pro-img">
                            <img src="img/man-1.jpg" alt="" id="img_pre">
                        </div>
                        <label for="img_file" class="icon-camera">
                            <i class="fas fa-camera camera mr-3"></i>Browser
                            <input type="file" class="form-control form-control-sm mb-3" id="img_file">
                        </label>
                    </div>
                    <div class="btn-group mt-2 w-100">
                        <button class="btn btn-sm btn-primary mr-3 w-25 font-weight-bold" id="btnsave">Save</button>
                        <button class="btn btn-sm btn-success mr-3 w-25 font-weight-bold" id="btnupdate">Update</button>
                        <button class="btn btn-sm btn-danger mr-3 w-25 font-weight-bold" id="btndelete-product">Delete</button>
                        <button class="btn btn-sm btn-warning mr-3 w-25 font-weight-bold" id="btnclear">Clear</button>
                    </div>
                </div>
            </div>
</section>

<!---------------------------product table------------------->

 <section class="product-table mt-5 bg-white p-3">
            <div class="table-responsive">
                <table class="table table-hover table-bordered-top" id="table_product_id">
                    <thead>
                        <tr>
                            <th class="d-none">ID</th>
                            <th>Image</th>
                            <th>Product</th>
                            <th>Desction</th>
                            <th>Qualtity</th>
                            <th>Uniprice</th>
                            <th class="d-none">Category</th>
                            <th class="d-none">menu</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ls_product)
                        {
                            <tr class="text-style">
                                <td class="d-none">@item.proId</td>
                                <td class="img-pro">
                                    <img src="@item.imgType,@item.image" alt="">
                                </td>
                                <td>@item.proName</td>
                                <td class="w-25">@item.description</td>
                                <td>@item.qty</td>
                                <td><span>@item.uniprice</span></td>
                                <td class="d-none">@item.catId</td>
                                <td class="d-none">@item.menu</td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>
</section>

 <!-------------------contegory popup-------------------------->

 <div class="modal fade" id="cateid">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title text-light">Add New Category</div>
                        <button data-dismiss="modal" class="btn btn-danger btn-sm">close</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Category Name</label>
                                    <input id="txtcatename" type="text" class="form-control form-control-sm mb-3">
                                </div>
                                <div class="form-group">
                                    <div class="pro-img">
                                        <img src="~/img/man-1.jpg" alt="" id="img_pre_cate">
                                    </div>
                                    <label for="img_cate" class="icon-camera">
                                        <i class="fas fa-camera camera mr-3"></i>Browser
                                        <input type="file" class="form-control form-control-sm mb-3" id="img_cate">
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="table-scroll">
                                    <table class="table table-light table-hover" id="table-cate">
                                        <thead class="text-light bg-primary sticky-top">
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Image</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ls_category)
                                            {
                                                <tr class="text-style">
                                                    <td>@item.cateId</td>
                                                    <td>@item.catename</td>
                                                    <td>
                                                        <div class="img-cate">
                                                            <img src="@item.imgType,@item.image" alt="">
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                            
                                        </tbody>
                                    </table>
                                
                                </div>
                            </div>
                        </div>
                        <div class="btn-group mt-2 w-100">
                            <button class="btn btn-sm btn-primary mr-3 w-25 font-weight-bold" id="btnsave-cate">Save</button>
                            <button class="btn btn-sm btn-success mr-3 w-25 font-weight-bold" id="btn-upade-cate">Update</button>
                            <button class="btn btn-sm btn-danger mr-3 w-25 font-weight-bold" id="btn-delete-cate">Delete</button>
                            <button class="btn btn-sm btn-warning mr-3 w-25 font-weight-bold" id="btn-clear-cate">Clear</button>
                        </div>
                    </div>

                </div>
            </div>
</div>
<!---alert ----------------->
<div class="main-alert">
    <i class="icon" id="icon"></i>
    <div class="alert">
        <span></span>
        <i class="fas fa-times text-success"></i>
    </div>
</div>

<!-----------------------javascipt----------------------->
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
$(function(){

    $('#table_product_id').DataTable();
//preview image before post
    var img_pro;
    function IReadmgPro(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                img_pro = e.target.result;
                $('#img_pre').attr('src', img_pro);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $('#img_file').change(function () {
        IReadmgPro(this);
    })
    var img_cate;
    function IReadmgCate(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                img_cate = e.target.result;
                $('#img_pre_cate').attr('src', img_cate);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $('#img_file').change(function () {
        IReadmgPro(this);
    })
    $('#img_cate').change(function(){
        IReadmgCate(this);
    })
//==============product Save section=====================//
    $('#btnsave').click(function(){
        if(cateid!=0)
        {
            var mg_pro_obj={};
            mg_pro_obj.proName=$('#txtproname').val();
            mg_pro_obj.description=$('#txtdescription').val();
            mg_pro_obj.qty=$('#txtqty').val();
            mg_pro_obj.uniprice=$('#txtuniprice').val();
            if(img_pro!=null){
                var imgs=img_pro.split(",");
                mg_pro_obj.imgType=imgs[0];
                mg_pro_obj.image=imgs[1];
            }
            mg_pro_obj.catId = cateid;
            mg_pro_obj.menu=$('#txtMenu').val();

            $.ajax({
                url:'@Url.Action("AddProduct","ManageProduct")',
                type:'POST',
                dataType:'JSON',
                data:{ manage : mg_pro_obj},
                success:function(data){
                    if(data.errCode== 123){
                        $('.main-alert').addClass('show');
                        $('#icon').addClass('fas fa-check-circle bg-success');
                         $('.alert span').text('Congratualations! Data Saved');
                        setTimeout(function(){
                            $('.main-alert').removeClass('show');
                            $('#icon').removeClass('fas fa-check-circle bg-success');
                            $('.alert span').text('');
                        },5000);
                    }
                     else if (data.errCode == 404) {
                        $('.main-alert').addClass('show');
                        $('.icon').addClass('fas fa-exclamation-circle bg-warning');
                        $('.alert span').text(data.errMsg);
                        setTimeout(function () {
                            $('.main-alert').removeClass('show');
                            $('.icon').removeClass('fas fa-exclamation-circle bg-warning');
                            $('.alert span').text('');
                        }, 5000);
                    }
                    else {
                        $('.main-alert').addClass('show');
                        $('.icon').addClass('fas fa-exclamation-circle bg-warning');
                        $('.alert span').text('please enter information..!');
                        setTimeout(function () {
                            $('.main-alert').removeClass('show');
                            $('.icon').removeClass('fas fa-exclamation-circle bg-warning');
                            $('.alert span').text('');
                        }, 5000);
                    }
                }
            })
        }
        else {
            $('.main-alert').addClass('show');
            $('.icon').addClass('fas fa-exclamation-circle bg-warning');
            $('.alert span').text('please select Category..!');
            setTimeout(function () {
                $('.main-alert').removeClass('show');
                $('.icon').removeClass('fas fa-exclamation-circle bg-warning');
                $('.alert span').text('');
            }, 5000);
        }
    })

    //==============product update section=====================//
    $('#btnupdate').click(function(){
        if(cateid!=0)
        {
            var mg_pro_obj={};
            mg_pro_obj.proId=proid;
            mg_pro_obj.proName=$('#txtproname').val();
            mg_pro_obj.description=$('#txtdescription').val();
            mg_pro_obj.qty=$('#txtqty').val();
            mg_pro_obj.uniprice=$('#txtuniprice').val();
            if(img_pro!=null){
                var imgs=img_pro.split(",");
                mg_pro_obj.imgType=imgs[0];
                mg_pro_obj.image=imgs[1];
            }
            mg_pro_obj.catId = cateid;
            mg_pro_obj.menu=$('#txtMenu').val();

            $.ajax({
                url:'@Url.Action("UpdateProduct","ManageProduct")',
                type:'POST',
                dataType:'JSON',
                data:{ manage : mg_pro_obj},
                success:function(data){
                    if(data.errCode== 123){
                        $('.main-alert').addClass('show');
                        $('#icon').addClass('fas fa-check-circle bg-success');
                         $('.alert span').text('Congratualations! Data Updated');
                        setTimeout(function(){
                            $('.main-alert').removeClass('show');
                            $('#icon').removeClass('fas fa-check-circle bg-success');
                            $('.alert span').text('');
                        },5000);
                    }
                     else if (data.errCode == 404) {
                        $('.main-alert').addClass('show');
                        $('.icon').addClass('far fa-times-circle icon bg-danger');
                        $('.alert span').text(data.errMsg);
                        setTimeout(function () {
                            $('.main-alert').removeClass('show');
                            $('.icon').removeClass('far fa-times-circle icon bg-danger');
                            $('.alert span').text('');
                        }, 5000);
                    }
                    else if(data.errCode==0){
                        $('.main-alert').addClass('show');
                        $('.icon').addClass('far fa-times-circle bg-danger');
                        $('.alert span').text('please select information..!');
                        setTimeout(function () {
                            $('.main-alert').removeClass('show');
                            $('.icon').removeClass('fas fa-exclamation-circle bg-warning');
                            $('.alert span').text('');
                        }, 5000);
                    }
                }
            })
        }
        else {
            $('.main-alert').addClass('show');
            $('.icon').addClass('fas fa-exclamation-circle bg-warning');
            $('.alert span').text('please select Category..!');
            setTimeout(function () {
                $('.main-alert').removeClass('show');
                $('.icon').removeClass('fas fa-exclamation-circle bg-warning');
                $('.alert span').text('');
            }, 5000);
        }

    })

    //=================section delete product====================//

    $('#btndelete-product').click(function(){
        $.ajax({
            url: '@Url.Action("DeleteProduct","ManageProduct")',
            type: 'post',
            dataType: 'json',
            data: { get_proid : proid },
            success: function (data) {
                if(data.errCode== 1){
                    $('.main-alert').addClass('show');
                    $('#icon').addClass('fas fa-check-circle bg-success');
                    $('.alert span').text('Congratualations! Data Updated');
                    setTimeout(function(){
                        $('.main-alert').removeClass('show');
                        $('#icon').removeClass('fas fa-check-circle bg-success');
                        $('.alert span').text('');
                    },5000);
                    }
                else if(data.errCode==0){
                    $('.main-alert').addClass('show');
                    $('.icon').addClass('fas fa-exclamation-circle bg-warning');
                    $('.alert span').text('please slect product..!');
                    setTimeout(function () {
                        $('.main-alert').removeClass('show');
                        $('.icon').removeClass('fas fa-exclamation-circle bg-warning');
                        $('.alert span').text('');
                    }, 5000);
                }
                else{
                    $('.main-alert').addClass('show');
                    $('.icon').addClass('far fa-times-circle icon bg-danger');
                    $('.alert span').text(data.errMsg);
                    setTimeout(function () {
                        $('.main-alert').removeClass('show');
                        $('.icon').removeClass('far fa-times-circle icon bg-danger');
                        $('.alert span').text('');
                    }, 5000);
                }
            }
        })
    });
    //=================function delete=========================//

    ////===========clear values================================////
    $('#btnclear').click(function(){
        $('.form-control').val('');
        $('#img_pre').attr('src','');
    })
  //=================select row product=======================//
    var proid;
    $('#table_product_id tbody').on('click','tr',function(){
        var rows=$(this).closest('tr');
        proid=rows.find('td:eq(0)').text();
        //alert(proid);
        $('#txtproname').val(rows.find('td:eq(2)').text());
        img_pro = rows.find('img').attr('src');
        $('#img_pre').attr('src', img_pro);
        $('#txtdescription').val(rows.find('td:eq(3)').text());
        $('#txtqty').val(rows.find('td:eq(4)').text());
        $('#txtuniprice').val(rows.find('td:eq(5)').text());
        $('#txtcateid').val(rows.find('td:eq(6)').text());
        cateid= rows.find('td:eq(6)').text();
        $('#txtMenu').val(rows.find('td:eq(7)').text());
        
    })

    //=======================Category Section=======================//
    //=============save data===============================================///
    $('#btnsave-cate').click(function(){
        var cate_obj={};
        cate_obj.catename=$('#txtcatename').val();
        if(img_cate!=null)
        {
            var imgs=img_cate.split(",");
            cate_obj.imgType = imgs[0];
            cate_obj.image = imgs[1];
        }
        $.ajax({
            url:'@Url.Action("AddCategory","ManageProduct")',
            type:'POST',
            dataType:'JSON',
            data:{ obj_cate : cate_obj},
            success:function(data)
            {
                
                if(data.errCode== 202){
                    $('.main-alert').addClass('show');
                    $('#icon').addClass('fas fa-check-circle bg-success');
                    $('.alert span').text('Congratualations! Data Updated');
                    setTimeout(function(){
                        $('.main-alert').removeClass('show');
                        $('#icon').removeClass('fas fa-check-circle bg-success');
                        $('.alert span').text('');
                    },5000);
                    }
                else if(data.errCode== 402){
                    $('.main-alert').addClass('show');
                    $('.icon').addClass('fas fa-exclamation-circle bg-warning');
                    $('.alert span').text('please slect product..!');
                    setTimeout(function () {
                        $('.main-alert').removeClass('show');
                        $('.icon').removeClass('fas fa-exclamation-circle bg-warning');
                        $('.alert span').text('');
                    }, 5000);
                }
                else{
                    $('.main-alert').addClass('show');
                    $('.icon').addClass('far fa-times-circle icon bg-danger');
                    $('.alert span').text(data.errMsg);
                    setTimeout(function () {
                        $('.main-alert').removeClass('show');
                        $('.icon').removeClass('far fa-times-circle icon bg-danger');
                        $('.alert span').text('');
                    }, 5000);
                }
            }
        })
    })
    //===============select row category=================================//
    $('#table-cate tbody').on('click','tr',function(){
        var colc=$(this).closest('tr');
        cateid=colc.find('td:eq(0)').text();
        $('#txtcatename').val(colc.find('td:eq(1)').text());
        img_cate=colc.find('img').attr('src');
        $('#img_pre_cate').attr('src',img_cate);
        //alert(cateid);
    })
    //==============upadate data==========================================//
    $('#btn-upade-cate').click(function(){
        var cate_obj={};
        cate_obj.cateId= cateid;
        cate_obj.catename=$('#txtcatename').val();
        if(img_cate!=null)
        {
            var imgs=img_cate.split(",");
            cate_obj.imgType = imgs[0];
            cate_obj.image = imgs[1];
        }
        $.ajax({
            url:'@Url.Action("UpdateCategory","ManageProduct")',
            type:'POST',
            dataType:'JSON',
            data:{ obj_cate : cate_obj},
            success:function(data)
            {
                if(data.errCode== 202){
                    $('.main-alert').addClass('show');
                    $('#icon').addClass('fas fa-check-circle bg-success');
                    $('.alert span').text('Congratualations! Data Updated');
                    setTimeout(function(){
                        $('.main-alert').removeClass('show');
                        $('#icon').removeClass('fas fa-check-circle bg-success');
                        $('.alert span').text('');
                    },5000);
                    }
                else if(data.errCode== 402){
                    $('.main-alert').addClass('show');
                    $('.icon').addClass('fas fa-exclamation-circle bg-warning');
                    $('.alert span').text('please slect product..!');
                    setTimeout(function () {
                        $('.main-alert').removeClass('show');
                        $('.icon').removeClass('fas fa-exclamation-circle bg-warning');
                        $('.alert span').text('');
                    }, 5000);
                }
                else{
                    $('.main-alert').addClass('show');
                    $('.icon').addClass('far fa-times-circle icon bg-danger');
                    $('.alert span').text(data.errMsg);
                    setTimeout(function () {
                        $('.main-alert').removeClass('show');
                        $('.icon').removeClass('far fa-times-circle icon bg-danger');
                        $('.alert span').text('');
                    }, 50000);
                }
            }
        })
    });

    //=================delete data========================================//
    $('#btn-delete-cate').click(function(){
       $.ajax({
           url:'@Url.Action("DeleteCategory","ManageProduct")',
           type:'post',
           dataType:'json',
           data:{get_cateid : cateid},
           success:function(data){
               if(data.errCode== 1){
                    $('.main-alert').addClass('show');
                    $('#icon').addClass('fas fa-check-circle bg-success');
                    $('.alert span').text('Congratualations! Categroy deleted');
                    setTimeout(function(){
                        $('.main-alert').removeClass('show');
                        $('#icon').removeClass('fas fa-check-circle bg-success');
                        $('.alert span').text('');
                    },5000);
                    }
                else if(data.errCode== 123){
                    $('.main-alert').addClass('show');
                    $('.icon').addClass('fas fa-exclamation-circle bg-warning');
                    $('.alert span').text('please slect category..!');
                    setTimeout(function () {
                        $('.main-alert').removeClass('show');
                        $('.icon').removeClass('fas fa-exclamation-circle bg-warning');
                        $('.alert span').text('');
                    }, 5000);
                }
                else{
                    $('.main-alert').addClass('show');
                    $('.icon').addClass('far fa-times-circle icon bg-danger');
                    $('.alert span').text(data.errMsg);
                    setTimeout(function () {
                        $('.main-alert').removeClass('show');
                        $('.icon').removeClass('far fa-times-circle icon bg-danger');
                        $('.alert span').text('');
                    }, 50000);
                }
           }
       })
    });
    //==================clear data=========================================//
    $('#btn-clear-cate').click(function(){
        $('#txtcatename').val('');
        $('#img_pre_cate').attr('src', '');
    })
//===============================get category from database to show on combobox===================//
    var cateid=0;
    $.ajax({
        url:'@Url.Action("getCotegroy","ManageProduct")',
        type:'GET',
        dataType:'JSON',
        success:function(data)
        {
            for(var i=0 ; i<data.length;i++)
            {
                $('#txtcateid').append(new Option(data[i].catename, data[i].cateId));
            }
        }
    })

    $('#txtcateid').change(function(){
        cateid=$('#txtcateid').val();
        //alert(cateid);
    })


//=============================== section category end ===================//
  
});
</script>